.vscode-test/**
.vscode-test-web/**
.vscode-test-workspace/**
bin/**
build/**
lib/**
src/**
typings/**
.gitignore
contributing.md
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
**/tsconfig.publish.json
**/tsconfig.watch.json
**/.eslintignore
**/.eslintrc.json
**/test/**/*
.azure-pipelines.yml
.lsifrc.json
*.zip
*.vsix
*.lsif